/** @format */

.tetris-grid-board {
	width: 200px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	background-color: yellow;
}

.tetris-grid-board div {
	width: 20px;
	height: 20px;
	background-color: red;
}

.tetromino-space {
	background-color: blue;
}
